.ServerCanvas {
  background-color: rgb(167, 163, 163);
  text-align: center;
}

.ServerCanvas-title {
  font-size: 2em;
  margin-bottom: 20px;
  color: white;
}

.ServerCanvas-server-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-basis: 160px;
  margin-bottom: 40px;
}

.ServerCanvas-controls {
  padding-bottom: 10px;
}
