.Server {
  margin: 15px 0;
  user-select: none;
}

.Server:hover {
  opacity: 0.7;
}

.Server-img {
  height: 90px;
  min-width: 210px;
  margin-bottom: 10px;
}

.Server-name {
  color: white;
  font-size: large;
}

.Server-app {
  margin-top: 10px;
}

.Server-fade-in-out {
  animation: fadeInOutAnimation 1s infinite;
}

@keyframes fadeInOutAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
